<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rifqit.animeList2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Database.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".DetailRecommendManga" />
        <activity android:name=".DetailRecommendAnime" />
        <activity android:name=".Detail_slider" />
        <activity android:name=".search.DetailCharacter" />
        <activity android:name=".search.DetailSearchManga" />
        <activity android:name=".search.DetailSearchAnime" />
        <activity android:name=".search.SearchAct" />
        <activity android:name=".season.detailSeason" />
        <activity android:name=".TopManga.topMangaDetail" />
        <activity android:name=".TopAnime.topAnimeDetail" />
        <activity android:name=".favorite.DetailFav" />
        <activity android:name=".favorite.Favorite" />
        <activity android:name=".TopManga.OneShots" />
        <activity android:name=".TopManga.Menhua" />
        <activity android:name=".TopManga.Menhwa" />
        <activity android:name=".TopManga.Doujin" />
        <activity android:name=".TopManga.Novel" />
        <activity android:name=".TopManga.Manga" />
        <activity android:name=".TopAnime.Ova" />
        <activity android:name=".TopAnime.Tv" />
        <activity android:name=".TopAnime.Upcoming" />
        <activity android:name=".TopAnime.Special" />
        <activity android:name=".TopAnime.Airing" />
        <activity android:name=".season.more" />
        <activity android:name=".season.detailMore" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>